/* Hide headerlink icon by default for all headings */
:root .headerlink {
    opacity: 0 !important;
    transition: opacity 0.15s ease-in-out;
    color: #aaa !important;
}

/* Show headerlink icon on any heading hover */
:root h1:hover .headerlink,
:root h2:hover .headerlink,
:root h3:hover .headerlink,
:root h4:hover .headerlink,
:root h5:hover .headerlink,
:root h6:hover .headerlink {
    opacity: 1 !important;
}

#content ul:not(.search) p, #content ul:not(.search)>li {
    margin-top: 1.0rem !important;
}